# Standards
node_modules
package-lock.json
yarn-lock.json
yarn.lock
#.next
.next
html
.production
.production
.production_*
.development_*

### OSX template
.DS_STORE
.DS_Store
.AppleDouble
.LSOverride

# Logs
*.log
logs
src/api-config.json
\Users\User\Desktop\lms\next-lms\src\api-config.json
npm-debug.log
*.log
npm-debug.log*
.vscode
logs
stats.json
